
/* Remove the navbar's default margin-bottom and rounded borders */ 

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron {
  background-color: white;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 45px;
  margin-left: 50px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: 350px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #919599;
  padding: 25px;
  color: white;
}

#navbar-primary .navbar-nav { 
  //  background: #ededed;
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

#carousle-background {
  background-color: whitesmoke;
}