<br><br><br><br><br><br><br><br><br><br><br>
<center class="text-primary">
    <h2>Thank You for the order</h2>

    <h3> You paid <strong class="text-success"> $ <%= @amount/100.0 %> </strong></h3>
    <h3> Your confirmation number is <%= rand.to_s[2..11] %> </h3>
</center>